<figure>
	<picture>
		<source srcset="/assets/img/srcset/dog-93w.jpg 93w,
										/assets/img/srcset/dog-201w.jpg 201w,
										/assets/img/srcset/dog-310w.jpg 310w,
										/assets/img/srcset/dog-419w.jpg 419w,
										/assets/img/srcset/dog-527w.jpg 527w,
										/assets/img/srcset/dog-636w.jpg 636w,
										/assets/img/srcset/dog-745w.jpg 745w,
										/assets/img/srcset/dog-853w.jpg 853w,
										/assets/img/srcset/dog-962w.jpg 962w,
										/assets/img/srcset/dog-1071w.jpg 1071w,
										/assets/img/srcset/dog-1179w.jpg 1179w,
										/assets/img/srcset/dog-1288w.jpg 1288w"
						type="image/jpeg"
						sizes="100vw"
						media="(min-width: 1400px) 46px, 100vw">
		<source srcset="/assets/img/srcset/dog-78w.jpg 78w,
										/assets/img/srcset/dog-171w.jpg 171w,
										/assets/img/srcset/dog-265w.jpg 265w,
										/assets/img/srcset/dog-359w.jpg 359w,
										/assets/img/srcset/dog-452w.jpg 452w,
										/assets/img/srcset/dog-546w.jpg 546w,
										/assets/img/srcset/dog-640w.jpg 640w,
										/assets/img/srcset/dog-733w.jpg 733w,
										/assets/img/srcset/dog-827w.jpg 827w,
										/assets/img/srcset/dog-921w.jpg 921w,
										/assets/img/srcset/dog-1014w.jpg 1014w,
										/assets/img/srcset/dog-1108w.jpg 1108w"
						type="image/jpeg"
						sizes="100vw"
						media="(max-width: 1399px) and (min-width:1200px)">
		<source srcset="/assets/img/srcset/dog-63w.jpg 63w,
										/assets/img/srcset/dog-141w.jpg 141w,
										/assets/img/srcset/dog-220w.jpg 220w,
										/assets/img/srcset/dog-299w.jpg 299w,
										/assets/img/srcset/dog-377w.jpg 377w,
										/assets/img/srcset/dog-456w.jpg 456w,
										/assets/img/srcset/dog-535w.jpg 535w,
										/assets/img/srcset/dog-613w.jpg 613w,
										/assets/img/srcset/dog-692w.jpg 692w,
										/assets/img/srcset/dog-771w.jpg 771w,
										/assets/img/srcset/dog-849w.jpg 849w,
										/assets/img/srcset/dog-928w.jpg 928w"
						type="image/jpeg"
						sizes="100vw"
						media="(max-width: 1199px) and (min-width:992px)">
		<source srcset="/assets/img/srcset/dog-57w.jpg 57w,
										/assets/img/srcset/dog-130w.jpg 130w,
										/assets/img/srcset/dog-203w.jpg 203w,
										/assets/img/srcset/dog-276w.jpg 276w,
										/assets/img/srcset/dog-349w.jpg 349w,
										/assets/img/srcset/dog-422w.jpg 422w,
										/assets/img/srcset/dog-494w.jpg 494w,
										/assets/img/srcset/dog-567w.jpg 567w,
										/assets/img/srcset/dog-640w.jpg 640w,
										/assets/img/srcset/dog-713w.jpg 713w,
										/assets/img/srcset/dog-786w.jpg 786w,
										/assets/img/srcset/dog-859w.jpg 859w"
				type="image/jpeg"
				sizes="100vw"
				media="(max-width: 991px) and (min-width:768px)">
		<source srcset="/assets/img/srcset/dog-200w.jpg 200w,
										/assets/img/srcset/dog-254w.jpg 254w,
										/assets/img/srcset/dog-308w.jpg 308w,
										/assets/img/srcset/dog-361w.jpg 361w,
										/assets/img/srcset/dog-415w.jpg 415w,
										/assets/img/srcset/dog-469w.jpg 469w,
										/assets/img/srcset/dog-523w.jpg 523w,
										/assets/img/srcset/dog-571w.jpg 571w,
										/assets/img/srcset/dog-631w.jpg 631w"
				type="image/jpeg"
				sizes="100vw"
				media="(max-width: 767px) and (min-width:576px)">
		<source srcset="/assets/img/srcset/dog-225w.jpg 225w,
										/assets/img/srcset/dog-265w.jpg 265w,
										/assets/img/srcset/dog-305w.jpg 305w,
										/assets/img/srcset/dog-346w.jpg 346w,
										/assets/img/srcset/dog-386w.jpg 386w,
										/assets/img/srcset/dog-426w.jpg 426w,
										/assets/img/srcset/dog-466w.jpg 466w"
				type="image/jpeg"
				sizes="100vw"
				media="(max-width: 575px) and (min-width:361px)">
		<source srcset="/assets/img/srcset/dog-152w.jpg 152w,
										/assets/img/srcset/dog-319w.jpg 319w"
				type="image/jpeg"
				sizes="100vw"
				media="(max-width:360px)">
		<img class="hero-background" loading="lazy" src="/assets/img/srcset/dog.jpg" width="1296" height="789" alt="image">
	</picture>
	<figcaption>Image description</figcaption>
</figure>
