<figure>
	<picture>
		<source srcset="/assets/img/srcset/dog-1288w.jpg 1288w"
						type="image/jpeg"
						sizes="100vw"
						media="(min-width: 1400px)">
		<source srcset="/assets/img/srcset/dog-1108w.jpg 1108w"
						type="image/jpeg"
						sizes="100vw"
						media="(max-width: 1399px) and (min-width:1200px)">
		<source srcset="/assets/img/srcset/dog-928w.jpg 928w"
						type="image/jpeg"
						sizes="100vw"
						media="(max-width: 1199px) and (min-width:992px)">
		<source srcset="/assets/img/srcset/dog-859w.jpg 859w"
						type="image/jpeg"
						sizes="100vw"
						media="(max-width: 991px) and (min-width:768px)">
		<source srcset="/assets/img/srcset/dog-631w.jpg 631w"
						type="image/jpeg"
						sizes="100vw"
						media="(max-width: 767px) and (min-width:576px)">
		<source srcset="/assets/img/srcset/dog-386w.jpg 386w,
										/assets/img/srcset/dog-466w.jpg 466w"
						type="image/jpeg"
						sizes="100vw"
						media="(max-width: 575px) and (min-width:361px)">
		<source srcset="/assets/img/srcset/dog-984w.jpg 984w,
										/assets/img/srcset/dog-328w.jpg 328w,
										/assets/img/srcset/dog-319w.jpg 319w"
						type="image/jpeg"
						sizes="100vw"
						media="(max-width:360px)">
		<img loading="lazy" src="/assets/img/srcset/dog.jpg" width="1296" height="789" alt="image">
	</picture>
	<figcaption>Image description</figcaption>
</figure>
