/* ==== Importing Web fonts ==== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
}
