/* ====  Typography ==== */

$font-size-root:              16px;

$line-height-heading:         1.38;
$line-height-paragraph:       1.38;

// $font-family-sans-fallback
//
// Define font stack used for sans-serifs.

$font-family-sans-fallback:   'Arial', sans-serif;

// $font-family-sans
//
// Define font stack used for sans-serifs.
$font-family-sans:            'Open Sans', $font-family-sans-fallback;

// $font-family-sans
//
// Define font stack used for sans-serifs.
$font-family-heading:         'Inter', $font-family-sans;

// $font-family-serif
//
// Define font stack used for serifs.
$font-family-serif:           'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;

// $font-family-monospace
//
// Define font stack used for monospaced copy.
$font-family-monospace:       'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace;

// $font-family-default
//
// Define font stack used for paragraphs.
$font-family-default:         $font-family-sans;

// $font-family-display
//
// Define font stack used for headings.
$font-family-display:         $font-family-heading;
